<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset>
        <div id="legend">
          <legend class=""><b>Create New Booking</b></legend>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Date</label>
          <div class="controls">
            <input matTooltip="Day when you want to book the field" type="date" #dataaaa="ngModel" required name="date"
              class="input-xlarge" [(ngModel)]="date">
            <p class="help-block">Please insert a date</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Start time</label>
          <div class="controls">
            <input matTooltip="Start hour of registration" type="time" required #start="ngModel" name="startTime" class="input-xlarge"
              [(ngModel)]="startHour">
            <p class="help-block">Please insert the start time of booking</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">End time</label>
          <div class="controls">
            <input matTooltip="End hour of registration" type="time" required #end="ngModel" name="endTime" class="input-xlarge"
              [(ngModel)]="endHour">
            <p class="help-block">Please insert the end time of booking</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Field</label>
          <div class="controls">
            <mat-form-field>
              <mat-select matTooltip="The field you want to book" #field="ngModel" placeholder="Select field" name="field"
                [(ngModel)]="field.id">
                <mat-option *ngFor="let field of allFields" [value]="field.id">
                  {{field.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="help-block">Please select a field</p>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button matTooltip="Create booking" [disabled]="!dataaaa.touched || !field.touched || !start.touched || !end.touched"
              class="btn btn-success" (click)="addNewBooking(booking)">Add booking</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>