<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>



            <input matTooltip="Your account username" type="text" [(ngModel)]="person.username" name="username" id="username" class="form-control"
                placeholder="Username" required pattern=".{3,}" #username="ngModel">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">Please
                fill the username with at least 3 characters</div>

            <input matTooltip="Your account password" type="password" [(ngModel)]="person.password" name="password" id="password" class="form-control"
                placeholder="Password" required #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">Please
                fill the Password</div>

            <button  matTooltip="Perform log-in operations!" [disabled]="username.invalid || password.invalid" (click)="login(person)"
                class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign
                in</button>
        </form>
        <a href="register" matTooltip="New here? Create a new account!" class="forgot-password">
            Register
        </a>
    </div>
    <p *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</p>

    <ngx-paypal [config]="payPalConfig">PayPall</ngx-paypal>

</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
