.container{
    margin-top:100px;
  }
  input[type="text"],input[type="email"],input[type="password"]{
    height:30px;
  }
  
  centru{
    text-align: right;
  }

.wrapper {
    text-align: left;
}

.button {
    position: absolute;
    top: 50%;
}