<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset>
        <div id="legend">
          <legend class="centru"><b>Invite someone to join your booking!</b></legend>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">E-mail<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="email" matTooltip="Friend e-mail address" id="email" required name="email" placeholder=""
              class="input-xlarge">

            <p class="help-block">Here you must fill your friend e-mail!</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Booking<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <mat-form-field>
              <mat-select matTooltip="Select a booking" #booking="ngModel" placeholder="Select booking" name="booking"
                [(ngModel)]="booking.id">
                <mat-option *ngFor="let booking of userBookings" [value]="booking.id">
                  {{booking.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="help-block">Please select a booking</p>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <p class="help-block"><b>All fields marked with</b><b>
                <font color="red"> *</font>
              </b><b>are mandatory!</b></p>
            <div class="wrapper">
              <button class="btn btn-success" (click)="a()">Send invitation</button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>