<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- Navbar (sit on top) -->
<div class="w3-top">

  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="home" class="w3-bar-item w3-button" matTooltip="Explore our site"><b>Sports&Healthy Living</b></a>

    <div class="w3-right w3-hide-small">
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Check your account"><img src="images/my-acc.png" width="23"
          height="23"><b>{{( sessionUser | async)?.name}} Account</b>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToUserBookings()"><b>Bookings</b></button>
        <button mat-menu-item (click)="navigateToCreateBooking()"><b>Create booking</b></button>
        <button mat-menu-item (click)="navigateToInvite()"><b>Invite person</b></button>
        <button mat-menu-item (click)="navvigateToGoogleMapsField()"><b>Field in your area</b></button>
        <button mat-menu-item><b>Change personal details</b></button>
      </mat-menu>
      <button (click)="navigateToLogin()" matTooltip="Log-in" class="w3-bar-item w3-button" *ngIf="!isLoggedIn()"><img
          src="images/log-in.png" width="25" height="25"><b>Login</b></button>
      <button (click)="navigateToRegister()" matTooltip="Create a new account" class="w3-bar-item w3-button"><img src="images/register.jpg"
          width="25" height="25"><b>Register</b></button>
      <!--TO DO-->
      <button (click)="navigateToHome()" matTooltip="Go to main page" class="w3-bar-item w3-button"><img src="images/home.svg"
          width="21" height="21"><b>Home</b></button>
      <button class="w3-bar-item w3-button" *ngIf="!canLogOut()" (click)="logout()"><img src="images/log-out.png" width="25"
          height="25"><b>Logout</b></button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Designed by Tufisi Radu!
    Copyright 2018!
  </p>
  <p>Powered by <a matTooltip="Visit Fortech official site!" href="https://www.fortech.ro/" target="_blank" class="w3-hover-text-green"><b>Fortech
        Data-Solution</b></a></p>
</footer>
