<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset>
        <div id="legend">
          <legend class="centru"><b>All your bookings</b></legend>
        </div>
        <div class="control-group">

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Field Name</th>
                <th scope="col">Number of participants</th>
                <th scope="col">Price</th>
                <th scope="col">Created By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>20</td>
                <td>Test</td>
              </tr>
              <tr *ngFor="let booking of sessionUserBookings">
                <td>{{booking.id}}</td>
                <td>{{booking.startTime |date :'dd-MM-yy H:mm:ss '}}</td>
                <td>{{booking.endTime |date :'dd-MM-yy H:mm:ss '}}</td>
                <td>{{booking.field.name}}</td>
                <td>{{booking.atendees.length}}</td>
                <td>{{booking.price}}</td>
                <td>{{booking.createdBy.name}}</td>
              </tr>
            </tbody>
          </table>

          <b>You currently have no bookings!</b>
        </div>
      </fieldset>
    </form>
  </div>
</div>