
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:600px" id="home">
  <img class="w3-image" src="http://getwallpapers.com/wallpaper/full/9/1/9/510868.jpg" alt="Tenis Field" width="1500"
    height="700">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
  </div>
  <h1 class="w3-center">What are you waiting for? Take your friends and have fun together!</h1><br>
  <img class="w3-image" src="https://d1ssu070pg2v9i.cloudfront.net/pex/scottish_hockey/2017/07/28160040/Hockey-National-Primary-Festival-Teams-07-1024x694.jpg" alt="Tenis Field" width="1500"
  height="700">
<div class="w3-display-bottomleft w3-padding-large w3-opacity">
  <h1 class="w3-xxlarge">People we love</h1>
</div>

</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="https://images.thewest.com.au/publication/YA-102202/b88115368z.1_20160325215449_000_gvjgjtd9.2_1-1bfah6q.jpg?imwidth=800&impolicy=.auto"
        class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Sports&Fun</h1><br>
      <h5 class="w3-center">Why did we come up with this ideea?</h5>
      <p class="w3-large">Our ideea was to develop a booking application to help anyone that is passionate about sport
        to book a field or a place where he can have fun and enjoy its time playing different kinds of sports!<span class="w3-tag w3-light-grey">Healthy
          mind in healthy body!</span>
        -this is our motto!</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Are you passionate about a sport? Or you just like to play with
        your friends? Then use our free application to make booking on different sport fields in your region!</p>
    </div>
  </div>


  <!-- End page content -->
</div>
