<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset>
        <div id="legend">
          <legend class="centru"><b>Register Form</b></legend>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">Username<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="text" matTooltip="The username you will use to Log-in" [(ngModel)]="person.username" id="username"
              required name="username" placeholder="" #username="ngModel" class="input-xlarge">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">Please
              fill the Username</div>
            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Name<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input matTooltip="Your real life name" type="text" required [(ngModel)]="person.name" name="name"
              placeholder="" class="input-xlarge" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">Please
              fill the Name</div>
            <p class="help-block">Please enter your name</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="email">E-mail<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="email" matTooltip="Your e-mail address" id="email" required [pattern]="emailPattern" name="email"
              placeholder="" class="input-xlarge" [(ngModel)]="person.email" #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">Please
              provide valid e-mail address</div>
            <p class="help-block">Please provide valid e-mail address</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">Password<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input matTooltip="Your account password" type="password" required pattern=".{4,}" id="password" name="password"
              placeholder="" class="input-xlarge" #password="ngModel" [(ngModel)]="person.password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">Password
              should contain at least 5 characters!</div>
            <p class="help-block">Password should be at least 5 characters long</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="phone_number">Phone Number<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="text" matTooltip="Mobile phone number" required pattern=".{10}" id="phoneNumber" name="phoneNumber"
              placeholder="" class="input-xlarge" [(ngModel)]="person.phoneNumber" #phoneNumber="ngModel">
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">Please
              fill the Phone Number with only 10 characters</div>
            <p class="help-block">Please enter phone number</p>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <p class="help-block"><b>All fields marked with</b><b>
                <font color="red"> *</font>
              </b><b>are mandatory!</b></p>
            <button [disabled]="username.invalid || password.invalid || email.invalid || phoneNumber.invalid || name.invalid"
              class="btn btn-success" (click)="addPerson(person)">Register</button>
            <p *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</p>
            <p *ngIf="successMessage" class="alert alert-success">{{successMessage}}</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
